p
{color: darkblue;}
h1 {
    color:brown;
    border-color: black;
    max-height: fit-content; 
     width: 150px;
     border: 15px solid green;
     padding: 50px;
    margin: 10px;
      
}


h2 {
    color:green;
    width: 300px;
    border: 15px dotted greenyellow;
    padding: 50px;
   margin: 20px;
}
p { color:brown;
    border-color: black;
    max-height: fit-content; 
     width: 300px;
     border: 2px solid brown;
     padding: 50px;
    margin: 20px;}
    h1{  border: 1px solid black;
        outline-style: solid;
        outline-color: red;
        outline-width:medium;
         background-color: black;
                 color: white;
          }
ol{
    list-style-type: square;
    list-style-position: inside;
    background:red;
  color: white;
  width: 300px;
  border: 15px ;
  padding: 50px;
 margin: 20px;
}
 
      
    
