h1 {
    font: bold 40
    px verdana, sans-serif;
    }
    h2 {
    font: bold 14px verdana, sans-serif;
    }
    body {
        text-align: center;
        }
        #agrupar {
            width: 960px;
            margin: 15px auto;
            text-align: left;
            }

   